---
layout: default
pagination:
    data: editorial.editorial
    size: 1
    alias: producto
permalink: "catalogo/{{ producto.titulo | slug }}/"
---
<!-- Logo -->
<section class="y flex items-center justify-center">
  <a href="/catalogo">
    <img class="w-56 py-10" src="/static/images/stubs/editorial-vampira.png" alt="">
  </a>
</section>

<!-- Card -->
<section class="x y flex flex-col sm:flex-row items-center justify-center">
  <!-- Imagen -->
  <img class="max-w-md" src="{{ producto.imagen }}" alt="">
  <!-- Descripcion -->
  <div class="flex flex-col justify-between gap-4 my-4">
    <!-- Top -->
    <div class="flex flex-col gap-4">
      <!-- Header -->
      <div class="border-b-2 border-blue-900">
        <!-- Titulo -->
        <h1 class="text-3xl uppercase sm:text-5xl">{{ producto.titulo }}</h1>
        <!-- Autor -->
        <h3 class="text-2xl text-blue-800 uppercase sm:text-3xl">
          {{ producto.autor }}{% if producto.instagram != ""%} - @{{ producto.instagram }}{% endif %}
        </h3>
      </div>
      <!-- Descripcion -->
      <p class="text-base text-justify">{{ producto.descripcion }}</p>
      <!-- Precio -->
      <h1 class="text-4xl text-blue-800 uppercase">${{ producto.precio }}</h1>
    </div>
    <!-- Bottom -->
    <div class="flex items-start justify-between">
      <div class="flex flex-col">
        <!-- Comprar -->
        <a class="flex items-center justify-center p-2 text-lg uppercase border-2 sm:text-3xl" href="{{ producto.url }}">
          <svg class="w-6 h-6 mr-2">
            <use xlink:href="/static/sprites/solid.svg#shopping-cart"></use>
          </svg>
          Comprar
        </a>
      </div>
      <!-- Compartir -->
      <div class="flex flex-col gap-2">
        <p class="text-base text-right border-b-2 border-blue-900">Compartir</p>
        <div class="flex gap-2">
          <a href="https://wa.me/?text={{ site.baseURL }}{{ page.url }}">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#whatsapp"></use>
            </svg>
          </a>
          <a href="https://twitter.com/intent/tweet?url={{ site.baseURL }}{{ page.url }}">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#twitter"></use>
            </svg>
          </a>
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseURL }}{{ page.url }}">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
