---
layout: default
pagination:
    data: programacion.programacion
    size: 1
    alias: programa
permalink: "programas/{{ programa.titulo | slug }}/"
---
<!-- Radio Vampira -->
<section class="py-10 max-w-screen-lg mx-auto flex items-center justify-center">
  <img class="hidden sm:block" src="/static/images/radio-vampira.svg" alt="">
  <img class="block w-56 sm:hidden" src="/static/images/radio-vampira.png" alt="">
</section>

<!-- Card -->
<section class="flex flex-col py-24 pt-14 sm:flex-row max-w-screen-lg mx-auto gap-14">
  <!-- Imagen -->
  <img class="hidden w-2/5 sm:block" src="{{ programa.imagen }}" alt="">
  <!-- Descripcion -->
  <div class="flex flex-col justify-between gap-4 my-4">
    <!-- Top -->
    <div class="flex flex-col gap-4">
      <!-- Header -->
      <div class="border-b-2 border-blue-900">
        <h2 class="text-xl uppercase sm:text-2xl">{{ programa.dia }} {{ programa.hora }}</h2>
        <h1 class="text-3xl uppercase sm:text-5xl">{{ programa.titulo }}</h1>
        <h3 class="text-base text-blue-800 uppercase">#MUSICA #PUNK</h3>
      </div>
      <!-- Paragraph-->
      <p class="text-xs sm:pl-2">{{ programa.descripcion }}</p>
    </div>
    <!-- Botton -->
    <div class="flex items-end justify-between">
      <div class="flex flex-col">
        <p class="text-xs">Musicalización: {{ programa.musicalizacion }}</p>
        <p class="text-xs">Contacto: {{ programa.contacto }}</p>
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-xs text-right border-b-2 border-blue-900">Compartir</p>
        <div class="flex gap-2">
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#instagram"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#spotify"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#twitter"></use>
            </svg>
          </a>
          <a href="#">
            <svg class="w-5 h-5">
              <use xlink:href="/static/sprites/brands.svg#facebook"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
